In [1]:
import pandas as pd

items = pd.read_csv('Items_available.csv')
items

    item_ID                                Name     category     description
0         1                          801 MM Kit       Visual             NaN
1         2                       801 Audio Kit        Audio             NaN
2         3                          802 MM Kit       Visual             NaN
3         4                       802 Audio Kit        Audio             NaN
4         5                     HopeKids Ipad 1     Hopekids             NaN
..      ...                                 ...          ...             ...
92      102  Key 40: Tithing Box Key (Hopekids)          NaN             NaN
93      103                   Connect 8 HK Keys         Keys            Keys
94      104       Connect 8 Facilities Storage   Facilities   L8 Storage Key
95      105                      Extension Plug          NaN             NaN
96      106                         Loud Hailer          NaN             NaN

[97 rows x 4 columns]

In [3]:
items.to_json('./items.json')